@using IVoice.Models.Common
@model IVoice.Models.Users.FavouriteModel

@using (Ajax.BeginForm("SaveFavouriteInfo", "User", new AjaxOptions { OnComplete = "onSaveFavouriteInfo" }, new { Id = $"SaveFavouriteInfo" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group col-md-6 col-xs-12">
        <label for="favmusic">Favourite music : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_music)
        </div>
        @Html.TextAreaFor(m => m._music, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favtv">Favourite TV : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_tv)
        </div>
        @Html.TextAreaFor(m => m._tv, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favgame">Favourite games/console : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_games)
        </div>
        @Html.TextAreaFor(m => m._games, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favrestaurant">Favourite restaurant : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_restaurant)
        </div>
        @Html.TextAreaFor(m => m._restaurant, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favsports">Favourite Sports/Team/Player : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_sports)
        </div>
        @Html.TextAreaFor(m => m._sports, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favfilm">Favourite Film : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_film)
        </div>
        @Html.TextAreaFor(m => m._film, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favvehicle">Favourite Vehicle : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_vehicle)
        </div>
        @Html.TextAreaFor(m => m._vehicle, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6 col-xs-12">
        <label for="favbrand">Favourite Brand/Product : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_brand)
        </div>
        @Html.TextAreaFor(m => m._brand, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-12 col-xs-12 float-left">
        <label for="favother">Other favourites : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_other)
        </div>
        @Html.TextAreaFor(m => m._other, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-12 col-xs-12 float-left">
        <label for="aboutyou">Tell us about you : </label>
        <div class="pull-right">
            <span>Open Field : </span>
            @Html.CheckBoxFor(m => m._pub_about)
        </div>
        @Html.TextAreaFor(m => m._about, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-12 float-left">
        <input class="btn btn-success pull-right" type="submit" name="submit_reg" value="Save" />
    </div>
}