@model IVoice.Models.Users.DetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section href {
    <link href="~/Content/User.css" rel="stylesheet" />
    <link href="~/Content/CardView.css" rel="stylesheet" />
    <link href="~/Content/Components/carousel_custom.css" rel="stylesheet"/>
    <!-- simply scroll-->
}
<div class="fluid-content">
    <!-- Simply Scroll for features -->
        <div class="col-md-8 col-md-offset-2" style="margin-top: 30px;margin-bottom:20px;">
            <div class="col-md-3" style="height:100%;max-height:500px;">
                <!--<button type="button" class="btn btn-dark" style="width:100%"><i class="fas fa-angle-double-up"></i></button>-->
                @Html.Partial("~/Views/Shared/Components/Carousel/_Carousel.cshtml", Model._features)
            </div>

            <!-- Personal information-->
            <div class="col-md-9" style="height:100%; padding:0;">
                <div class="col-md-8" style="display:grid;padding:0;padding-right:15px!important;">
                    <div>
                        <!-- Personal Card -->
                        <div class="col-md-4" style="padding:0">
                            <div class="box-default">
                                @Html.Partial("~/Views/Shared/Components/Personal/_CardHeaderPersonal.cshtml", (IVoice.Models.Components.PersonalCard.CardHeaderPersonalModel)Model._pcard.header)
                                @Html.Partial("~/Views/Shared/Components/Personal/_CardBodyPersonal.cshtml", (IVoice.Models.Components.PersonalCard.CardBodyPersonalModel)Model._pcard.body)
                            </div>
                        </div>
                        <!-- Ads Card -->
                        <div class="col-md-8" style="padding:0;padding-left:10px!important;">
                            <div class="box-default">
                                @Html.Partial("~/Views/Shared/Components/Common/_CardHeader.cshtml", (IVoice.Models.Components.Common.CardHeaderModel)Model._ads.header)
                                @Html.Partial("~/Views/Shared/Components/Common/_CardBody.cshtml", (IVoice.Models.Components.Common.CardBodyModel)Model._ads.body)
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- Tab -->
                        <div style="background-color:#252525;">
                            @Html.Partial("~/Views/Shared/Components/_CardHeaderTab.cshtml", (IVoice.Models.Components.Tabs.CardHeaderTabsModel)Model._tabs.header)
                            @Html.Partial("~/Views/Shared/Components/Tabs/_CardBodyTabsList.cshtml", (IVoice.Models.Components.Tabs.CardBodyTabsListModel)Model._tabs.body)
                        </div>
                        <!-- Ad stream -->
                        <div class="box-default" style="margin-top:20px;">
                            @Html.Partial("~/Views/Shared/Components/Common/_CardHeader.cshtml", (IVoice.Models.Components.Common.CardHeaderModel)Model._adstream.header)
                            @Html.Partial("~/Views/Shared/Components/Common/_CardBody.cshtml", (IVoice.Models.Components.Common.CardBodyModel)Model._adstream.body)
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:0;">
                    <!-- live IP -->
                    <div class="box-default">
                        @Html.Partial("~/Views/Shared/Components/Common/_CardHeader.cshtml", (IVoice.Models.Components.Common.CardHeaderModel)Model._liveIP.header)
                        @Html.Partial("~/Views/Shared/Components/Common/_CardBody.cshtml", (IVoice.Models.Components.Common.CardBodyModel)Model._liveIP.body)
                    </div>
                    <!-- Spread Box -->
                    <div class="box-default" style="margin-top:25px;">
                        @Html.Partial("~/Views/Shared/Components/Common/_CardHeader.cshtml", (IVoice.Models.Components.Common.CardHeaderModel)Model._spreadBox.header)
                        @Html.Partial("~/Views/Shared/Components/_CardBodyList.cshtml", (IVoice.Models.Components.CardBodyListModel)Model._spreadBox.body)
                    </div>
                    <!-- Chat Wing -->
                    <div class="box-default" style="margin-top:25px;">
                        @Html.Partial("~/Views/Shared/Components/Common/_CardHeader.cshtml", (IVoice.Models.Components.Common.CardHeaderModel)Model._chatWing.header)
                        @Html.Partial("~/Views/Shared/Components/Common/_CardBody.cshtml", (IVoice.Models.Components.Common.CardBodyModel)Model._chatWing.body)
                    </div>
                </div>
            </div>
        </div>
</div>

@section scripts {
    <script src="~/Scripts/views/common/carousel_custom.js"></script>
}
