@model IVoice.Models.Gallery.GalleryCardModel
@{ 
    var currentUserId = ViewBag.currentUserId;
    var userId = ViewBag.userId;
    var albumId = ViewBag.AlbumId;
}

<div class="box-default pd-25 w-100 @Model._class " style="@Model._style" id="media-@Model._item._id">
    <div class="gallery-card-img">
        <a href="#" onclick="OpenFolder(@Model._item._id, '@Model._item._type', '@currentUserId')" title="@Model._item._name">
            <img src="@Model._item._path" />
        </a>
    </div>
    <div class="gallery-card-body">
        <h4>
            <a class="white-link" href="#" onclick="OpenFolder(@Model._item._id, '@Model._item._type', '@currentUserId')" title="@Model._item._name">
                @Model._truncate
            </a>
        </h4>
        @if (userId == currentUserId)
        {
            <div class="dropdown show pull-right gallery-card-content">

                <a class="dropdown-toggle pull-right white-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-caret-square-right pull-right pointer-hand" data-val="@Model._item._id" data-type="@Model._item._type"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="folderMenu" id="PopupMedia">
                    <li><a class="white-link" href="#r" data-id="0" data-type="MOVE"><i class="fa fa-folder"></i>&nbsp;Root</a></li>
                    @foreach (var folder in Model._folders)
                    {
                        <li><a class="white-link" href="#m" data-id="@folder.Id" data-type="MOVE"><i class="fa fa-folder"></i>&nbsp;@folder.Description</a></li>
                    }
                    <li><a href="#d" class="white-link" data-id="0" data-type="DELETE"><i class="fa fa-times"></i>&nbsp;DELETE</a></li>
                </ul>
            </div>
        }

    </div>
    <div>
        <span>@Model._item._date_add</span>
    </div>
    @if(userId == currentUserId)
    {
        <div class="margin-top-10">
        <input type="checkbox" @(Model._item._visibility == "PUBLIC" ? "checked" : "") class="toggle-gallery" data-val="@Model._item._id" data-type="@Model._item._type" />
    </div>
    }
    
</div>
