@using IVoice.Extensions
@using IVoice.Models.Components.Common
@using IVoice.Models.Common
@model IVoice.Models.IP.IPListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section href {
    <link href="~/Content/IP.css" rel="stylesheet" />
}

<div class="container fluid-content">
    <div class="row" style="margin-top:20px; margin-bottom:20px;">
        <div style="text-align:center;">
            <button type="button" class="btn btn-ip-search" style="min-width:300px;"><i id="ico-ip-search" class="fa fa-angle-double-down"></i></button>
        </div>
        
        <div class="box-default div-ip-search" style="background-color:#252525!important; display:flex;">
            <div class=" box-default" style="padding-top:20px;">
                @using (Ajax.BeginForm("GetList", "IP", new AjaxOptions() { OnComplete = "OnCompleteGetList" }))
                {
                    @Html.Partial("~/Views/Shared/_VoicerFilter.cshtml", Model._filter)
                    @Html.HiddenFor(m => m._category_id)
                    @Html.HiddenFor(m => m._feature_id)
                }

            </div>
        </div>
        <div class="container" id="ip-container">

        </div>

        <div style="text-align:center;">
            <button type="button" class="btn btn-primary btn-ip-more" style="min-width:300px;margin-top: 50px;">Load more...</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var urlGetMore = '@Url.Action("GetNextIPS", "IP")';
        var pageNum = 0;
        var categoryId = @Model._category_id;
        var featureId = @Model._feature_id;


        $(document).ready(function () {
            $('.div-ip-search').hide();
        })

        $('.btn-ip-search').click(function () {
            if ($('#ico-ip-search').hasClass('fa-angle-double-down')) {
                $('#ico-ip-search').removeClass();
                $('#ico-ip-search').addClass('fa fa-angle-double-up');
                $('.div-ip-search').show();
            } else {
                $('#ico-ip-search').removeClass();
                $('#ico-ip-search').addClass('fa fa-angle-double-down');
                $('.div-ip-search').hide();
            }
        });

        $('.btn-ip-more').click(function () {
            $.ajax({
                url: urlGetMore,
                data: {
                    pageNum: pageNum,
                    categoryId: categoryId,
                    featureId: featureId,
                    
                }
            });
        });



    </script>
    <script src="~/Scripts/views/ip/iplist.js"></script>
}