@using IVoice.Extensions
@using IVoice.Models.Components.Common
@using IVoice.Models.Common
@model IVoice.Models.IP.IPListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section hrefs {
    <link href="~/Content/IP.css" rel="stylesheet" />
}

<div class="container fluid-content">
    <div class="row margin-top-20 margin-bottom-20">
        <div class="search col-md-8 col-md-offset-2 col-xs-12">
            <div class="w-100 center-item">
                @Html.TextBoxFor(m => m._search_content, new { @class = "form-control", placeholder = "IP name" })
                @Html.HiddenFor(m => m._category_id)
                @Html.HiddenFor(m => m._feature_id)
                <button id="btn-ip-search" type="button" class="btn btn-default btn-search box-default margin-left-10">Search</button>
            </div>
        </div>
        
        <div class="container" id="ip-container">

        </div>

        <div class="center-item margin-bottom-10">
            <button id="btn-ip-more" type="submit" class="btn btn-primary btn-ip-more" style="min-width:300px;margin-top: 50px;">Load more...</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var urlGetMore = '@Url.Action("GetNextIPS", "IP")';
        var pageNum = 0;
        var categoryId = @Model._category_id;
        var featureId = @Model._feature_id;

        $(document).ready(function () {
            
        })

        $('#btn-ip-more').click(function () {
            $.ajax({
                url: '@Url.Action("_GetList", "IP")',
                data: {
                    PageNum: pageNum,
                    CategoryId: categoryId,
                    FeatureId: featureId,
                },
                type: 'POST',
                complete: function (request, status) {
                    if (request.responseText == null || request.responseText == "") {
                        return;
                    }
                    pageNum++;
                    $("#ip-container").append(request.responseText);
                }
            });
        });

        $('#btn-ip-search').click(function () {
            pageNum = 0;
            $.ajax({
                url: '@Url.Action("_GetList", "IP")',
                data: {
                    PageNum: pageNum,
                    CategoryId: categoryId,
                    FeatureId: featureId,
                },
                type: 'POST',
                complete: function (request, status) {
                    if (request.responseText == null || request.responseText == "") {
                        return;
                    }
                    pageNum++;
                    $("#ip-container").html(request.responseText);
                }
            });
        });

        $('#btn-ip-more').click();
    </script>
    <script src="~/Scripts/views/ip/iplist.js"></script>
}