@using IVoice.Models.Components.Tabs
@using IVoice.Models.Components.Common
@model IVoice.Models.IPSocial.SpreadViewModel
@{
    var v_filter = new ViewDataDictionary()
    {
        TemplateInfo = new TemplateInfo()
        {
            HtmlFieldPrefix = "_filter"
        }
    };
    v_filter.Add("countries", ViewData["countries"]);
    v_filter.Add("genders", ViewData["genders"]);
    v_filter.Add("hobbies", ViewData["hobbies"]);
    v_filter.Add("occupations", ViewData["occupations"]);

}
@using (Ajax.BeginForm("SpreadIP", "IPSocial", new AjaxOptions { OnComplete = "onCompleteSave" }, new { id = $"SpreadForm" }))
{
    <div class="panel with-nav-tabs panel-default">
        @Html.Partial("~/Views/Shared/Components/Tabs/_CardHeaderTab.cshtml", new CardHeaderTabsModel() { _header = new List<CardHeaderModel>() {
                                                                                    new CardHeaderModel() { _class = "active", _link = "#tabFieldSearchVoicers", _label="Field Search Voicers" },
                                                                                    new CardHeaderModel() { _link = "#tabConnectedVoicer", _label = "Connected Voicers" } }})
        <div class="panel-body">
            <div class="tab-content">
                @Html.HiddenFor(m => m._id)
                <div class="tab-pane active" id="tabFieldSearchVoicers">
                    @Html.Partial("_VoicerFilter", Model._filter, v_filter)

                </div>
                <div class="tab-pane" id="tabConnectedVoicer">
                    @{
                        var index = 0;
                        foreach (var item in Model._connected)
                        {
                            <div class="col-md-3 padding-bottom-10">
                                <div class="panel" style="padding:7px">
                                    <div><span>@item.Voicer</span></div>
                                    <img src="@item.ImagePath" style="width:100%;" />
                                    @Html.CheckBoxFor(m => m._selected[index], new { @class = "toggle-options-full-width" })
                                </div>
                            </div>
                            index++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('.toggle-options-full-width').bootstrapToggle({
            on: 'Selected',
            off: 'Click to select',
            style: 'w-100-force'
        });
    });

    $('#btnSuccessBootstrapShared').click(function () {
        $('#SpreadForm').submit();
    });
</script>