@using IVoice.Extensions
@using IVoice.Models.Components.Tabs
@using IVoice.Models.Components.Common
@model IVoice.Models.Whisper.Create
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container fluid-content">
    <div class="row margin-top-20 margin-bottom-20">
        @using (Ajax.BeginForm("Create", "Whisper", new AjaxOptions { OnComplete = "onPostFunction" }, new { id = $"CreateWhisper" }))
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(m => m._uniqueId);

        <div class="panel with-nav-tabs panel-default">
            @Html.Partial("~/Views/Shared/Components/Tabs/_CardHeaderTab.cshtml",
                        new CardHeaderTabsModel() { _header = new List<CardHeaderModel>() { new CardHeaderModel() { _link = "#tabCompose", _class = "active", _label = "Compose" } } })
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabCompose">
                        <div class="form-group col-md-12 col-xs-12 float-left">
                            <label for="_voicerId"><span class="req">* </span> Voicer: </label>
                            @Html.DropDownListAutoCompleteFor(m => m._voicerId, Model._voicers, "", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12 col-xs-12 float-left">
                            <label for="_subject"><span class="req">* </span> Subject: </label>
                            @Html.TextBoxFor(m => m._subject, new { @class = "form-control", required = "required" })
                        </div>

                        <div class="form-group col-md-12 col-xs-12 float-left">
                            <label for="_message"><span class="req">* </span> Messagge: </label>
                            @Html.TextAreaFor(m => m._message, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

        <div class="panel with-nav-tabs panel-default">
            @Html.Partial("~/Views/Shared/Components/Tabs/_CardHeaderTab.cshtml",
                        new CardHeaderTabsModel() { _header = new List<CardHeaderModel>() { new CardHeaderModel() { _link = "#tabAttachments", _class = "active", _label = "Attachments" } } })
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabAttachements">
                        @Html.Partial("_UploadFile", new IVoice.Models.Common.UploadModel() { UniqueId = Model._uniqueId, _function = "FileUpload",
                                                                                                                                _div_id = "upload", _input_file = "file" })
                        <table class="table table-striped table-hover box-default" id="tblFileUpload">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th class="col-md-2" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 padding-bottom-10 text-right">
            <input class="btn btn-success" type="submit" name="submit_reg" value="Send" id="submitForm">
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=7daytolk6jeltjfjw3x2dy01texvksndtbxn8f9u2j4syqoi"></script>
    <script src="~/Scripts/views/whisper/create.js"></script>
    <script src="~/Scripts/views/whisper/whisper_upload.js"></script>
}
