@model IVoice.Models.Components.PersonalCard.CardHeaderPersonalModel

<div class="card-header-title">
    <a class="white-link" href="@Model._title._link" title="@Model._title._tooltip">
        @if (Model._title_img != "")
        {
            <img src="@Model._title_img" />
        }
        @if (Model._title._icon != "")
        {
            <i class="@Model._title._icon"></i>
        }
        <span>&nbsp;@Model._title._label</span>
    </a>
    <a href="#" class="pull-right white-link" title="Direct Index" onclick="ondiip('@Model._diip')">DI IP</a>
    @if (Model._diip != null)
    {

    }
</div>

    <script>
        function ondiip(diip) {
            if (diip === 'None') {
                alertMessage("Notice", "No direct index");
            } else if (diip === 'Inactive') {
                alertMessage("Notice", "Direct Index is inactive");
            } else {
                window.location = diip;
            }
        }
    </script>
