@model IVoice.Models.Components.PersonalCard.CardHeaderPersonalModel

<div class="card-header-title">
    <a class="white-link" href="@Model._title._link" title="@Model._title._tooltip">
        @if (Model._title_img != "")
        {
            <img src="@Model._title_img" />
        }
        @if (Model._title._icon != "")
        {
            <i class="@Model._title._icon"></i>
        }
        <span>&nbsp;@Model._title._label</span>
    </a>
    @if (Model._diip != null)
    {
        <a href="@Model._diip._link" class="pull-right white-link" title="@Model._diip._tooltip">@Model._diip._label</a>
    }
</div>