@model IVoice.Models.Components.Tabs.CardHeaderTabsModel
<div class="panel-heading">
    <ul class="nav nav-tabs nav-tabs-custom">
        @{
            foreach (var item in Model._header)
            {
                <li class="@item._class">
                    <a class="white-link" href="@item._link" data-toggle="@((item._isbutton == false) ? "tab" : "")">
                        <div>
                            @if (item._icon != "")
                            {
                                <i class="@item._icon"></i>
                            }
                            <span st>&nbsp;@item._label</span>
                            @if (item._num != "")
                            {
                                <span class="card-header-num">&nbsp;@item._num</span>
                            }
                            @if(item._open_folder)
                            {
                                <span onclick="redirectTo('@item._open_folder_link')" style="cursor:pointer;">&nbsp;&nbsp;<i class="fa fa-external-link-alt"></i></span>
                            }
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</div>

<script>
    function redirectTo(link) {
        location.href = link
    }
</script>