@using IVoice.Models.Components.Tabs
@using IVoice.Models.Components.Common

@model  IVoice.Models.Voicer.VoicersModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentUserId = ViewBag.currentUserId;
    var userId = ViewBag.userId;
}

@section hrefs {
    <link href="~/Content/VoicerCard.css" rel="stylesheet" />
}

<div class="container fluid-content">

    <div class="row margin-top-20 margin-bottom-20">
        <!-- Search Form-->
        @if (currentUserId == userId)
        {
            @Html.Partial("~/Views/Voicer/_SearchVoicersForm.cshtml", Model)
        }

        <!--  -->
        <div class="panel with-nav-tabs panel-default">
            @if (currentUserId == userId)
            {
                @Html.Partial("~/Views/Shared/Components/Tabs/_CardHeaderTab.cshtml", new CardHeaderTabsModel() { _header = new List<CardHeaderModel>(){
                                        new CardHeaderModel() { _class = "active", _link = "#tabConncectedVoicers", _label = "Connected Voicers"},
                                        new CardHeaderModel() { _label = "Blocked Voicers", _link = "#tabBlockedVoicers"},
                                        new CardHeaderModel() { _label = "Waiting Voicers", _link = "#tabWaitingVoicers"},
                                        new CardHeaderModel() { _label = "Requested Voicers", _link = "#tabRequestedVoicers"}} })
            }
            else
            {
                @Html.Partial("~/Views/Shared/Components/Tabs/_CardHeaderTab.cshtml", new CardHeaderTabsModel() { _header = new List<CardHeaderModel>() {
                                        new CardHeaderModel() { _class = "active", _link = "#tabConncectedVoicers", _label = "Connected Voicers"} }})
            }

            <div class="panel-body">
                <div class="tab-content" style="min-height:30px;">
                    <div class="tab-pane fade in active" id="tabConncectedVoicers">
                        @foreach (var item in Model._connected)
                        {
                            <div class="col-md-3 col-xs-6">
                                <div class="pd-tb-15">
                                    @Html.Partial("~/Views/Voicer/_VoicerCard.cshtml", item)
                                </div>
                            </div>
                        }
                    </div>
                    @if (currentUserId == userId)
                    {
                        <div class="tab-pane fade" id="tabBlockedVoicers">
                            @foreach (var item in Model._blocked)
                            {
                                <div class="col-md-3 col-xs-6">
                                    <div class="pd-tb-15">
                                        @Html.Partial("~/Views/Voicer/_VoicerCard.cshtml", item)
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="tabWaitingVoicers">
                            @foreach (var item in Model._waiting)
                            {
                                <div class="col-md-3 col-xs-6">
                                    <div class="pd-tb-15">
                                        @Html.Partial("~/Views/Voicer/_VoicerCard.cshtml", item)
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="tabRequestedVoicers">
                            @foreach (var item in Model._requested)
                            {
                                <div class="col-md-3 col-xs-6">
                                    <div class="pd-tb-15">
                                        @Html.Partial("~/Views/Voicer/_VoicerCard.cshtml", item)
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/views/voicer/index.js"></script>
    <script>
        var urlCommand = '@Url.Action("cmdConnection", "Voicer")';
        var currentUserId = @ViewBag.currentUserId;
        var userId = @ViewBag.userId;
    </script>
}
